<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wizard_app.name %>
</p>

<p>
  <strong>Ontology:</strong>
  <%= @wizard_app.ontology_id %>
</p>

%= form_for(@wizard_app) do |f| %>
  <% if @wizard_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wizard_app.errors.count, "error") %> prohibited this wizard_app from being saved:</h2>

      <ul>
      <% @wizard_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Select the class
  </div>
  <div class="field">
  	<%= f.label :class_id %><br>
    <%= f.select :class_id, @domain_classes { |klass| [ klass.uri, klass.compact_uri ] } %><br>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary"%>
  </div>
<% end %>

<%= link_to 'Edit', edit_wizard_app_path(@wizard_app) %> |
<%= link_to 'Back', wizard_apps_path %>
